/* GOOGLE FONT */
@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap');

:root{

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


body{
    background-color: white;
    font-family: "Epilogue", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: black;
}


section{
    padding: 264px 48px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section1{ background-color: #f6f6f6; }
.section2{ background-color: #E9E9E9; }
.section3{ background-color: #DEDEDE; }


.container{
    max-width: 1280px;
    margin: 0 auto;
}


/*  NAVBAR */
nav{
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

.nav-container{
    display: flex;
    justify-content: center;;
}

.section-label-text{
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 12px;
    color: #666;
}

.section-label-guide{
    height: 1px;
    width: 12px;
    background-color: #666;
}

.section-label-wrap{
    display: flex;
    align-items: center;
    gap: 12px;
}

.section-top-wrap{
    display: flex;
    flex-direction: column;
    gap: 64px;
}

.section-full-line{
    height: 1px;
    width: 100%;
    background-color: black;
    opacity: 25%;
}

.section-content-wrap{
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.section-text{
    font-size: 56px;
    line-height: 132%;
}


/*  IPAD SCREENS   */
@media screen and (max-width: 1080px){
    section{ padding: 180px 32px; }

    .section-text{
        font-size: 48px;
    }
}

/*  MOBILE LANDSCAPES SCREENS   */
@media screen and (max-width: 1080px){

    section{ padding: 140px 24px; }

    .section-text{
        font-size: 40px;
    }
}

/*  MOBILE SCREENS   */
@media screen and (max-width: 480px){

    section{ padding: 132px 20px; }

    .section-text{
        font-size: 32px;
    }
}


.split-text{
    border-radius: 4px;
    border: 1px dotted limegreen;
    display: inline-block;
    margin-bottom: 2px;
}