/* GOOGLE FONT */
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');


:root{

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


body{
    background-color: rgb(245, 245, 245);
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}


section{
    padding: 6.25rem 0;
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: ;
}

.container{
    max-width: 1320px;
    padding: 0 2rem;
}
